body {
  background-image: url("../photos/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
